subtitle {
  width: 50%;
  max-width: 300px;
  padding-right: 80px;
  padding-left: 5%;
  text-align: center;
}

#subtitle img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
}

#subtitle p {
  font-size: x-small;
  margin-top: revert;
  position: absolute;
}

#about-me {
  background-color: #f4f3ee;
}

#work {
  background-color: #bcb8b1;
}

#contact-me {
  background-color: #8a817c;
}

.grid-container-about-me {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 50px 0;
}

.item1 {
  grid-row: 1 / 2;
  text-align: right;
  width: 100%;
  writing-mode: vertical-rl;
  padding: 40px;
}

.item2 {
  text-align: left;
  word-break: break-all;
}

.grid-container-work {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: auto auto auto auto;
}

.item3 {
  grid-row-start: span 3;
  text-align: center;
  width: 100%;
  writing-mode: vertical-lr;
  padding: 40px;
}

.item4 {
  grid-column: 2 / span 2;
}

.item4 img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  margin: auto auto auto auto;
}

.item4 img:hover {
  zoom: 1.5;
  filter: contrast(150%);
}

.images {
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  margin: auto auto auto auto;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container img:hover {
  filter: contrast(150%);
}

footer nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  margin-top: 50px;
}

.verticalLine {
  width: 5px;
  background-color: rgb(37, 56, 44);
  height: 100%;
  float: right;
  margin-left: 20px;
}
